## preprocessing of data

In [117]:
import pandas as pd
import numpy as np

In [118]:
df=pd.read_csv("House Price Prediction Dataset.csv")
df.head(5)

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [119]:
#checking null values in each column
df.isnull().sum()

Id           0
Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

In [120]:
df.dtypes

Id            int64
Area          int64
Bedrooms      int64
Bathrooms     int64
Floors        int64
YearBuilt     int64
Location     object
Condition    object
Garage       object
Price         int64
dtype: object

In [121]:
df.columns

Index(['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt',
       'Location', 'Condition', 'Garage', 'Price'],
      dtype='object')

## handling cateorical columns

#### 1. Handling Location Column

In [122]:
df['Location'].unique()

array(['Downtown', 'Suburban', 'Urban', 'Rural'], dtype=object)

In [123]:
df['Location'].value_counts()

Location
Downtown    558
Urban       485
Suburban    483
Rural       474
Name: count, dtype: int64

##### If youâ€™re using linear regression or distance-based models (like KNN), this can mislead the model, because numbers like 1, 2, 3, 4 imply an order and distance between categories, which may not be real.

##### For tree-based models (Random Forest, XGBoost), label encoding usually works fine because the tree just splits on values.


### we are  going to use xgboost regressor ,so we are going to use the label encodig

In [124]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Location']=le.fit_transform(df['Location'])
df['Location']

0       0
1       0
2       0
3       2
4       0
       ..
1995    2
1996    2
1997    1
1998    3
1999    2
Name: Location, Length: 2000, dtype: int64

In [125]:
# we can also use replace mothod to encode the values
# Direct mapping
df['Location'] = df['Location'].replace({
    'Downtown': 1,
    'Urban': 2,
    'Suburban': 3,
    'Rural': 4
})


df['Location']

0       0
1       0
2       0
3       2
4       0
       ..
1995    2
1996    2
1997    1
1998    3
1999    2
Name: Location, Length: 2000, dtype: int64

## 2.Handling condition column

In [126]:
df['Condition'].unique()

array(['Excellent', 'Good', 'Fair', 'Poor'], dtype=object)

In [127]:
# Direct mapping
df['Condition'] = df['Condition'].replace({
    'Excellent': 1,
    'Good': 2,
    'Fair': 3,
    'Poor': 4
})


df['Condition']

C:\Users\THE-\AppData\Local\Temp\ipykernel_20660\1069117842.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Condition'] = df['Condition'].replace({

0       1
1       1
2       2
3       3
4       3
       ..
1995    4
1996    4
1997    4
1998    1
1999    3
Name: Condition, Length: 2000, dtype: int64

#### 3.Handling Garage column

In [128]:
df['Garage'].unique()

array(['No', 'Yes'], dtype=object)

In [129]:
# Direct mapping
df['Garage'] = df['Garage'].replace({
    'No': 0,
    'Yes': 1
})

df['Garage']

C:\Users\THE-\AppData\Local\Temp\ipykernel_20660\4192703724.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Garage'] = df['Garage'].replace({

0       0
1       0
2       0
3       1
4       1
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Garage, Length: 2000, dtype: int64

In [130]:
df.head(5)

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,0,1,0,149919
1,2,4272,5,4,3,1958,0,1,0,424998
2,3,3592,2,2,3,1938,0,2,0,266746
3,4,966,4,2,2,1902,2,3,1,244020
4,5,4926,1,4,2,1975,0,3,1,636056

In [131]:
df['YearBuilt'].min()

np.int64(1900)

In [132]:
df['YearBuilt'].max()

np.int64(2023)

In [133]:
df=df.drop('Id',axis=1)
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,1,0,149919
1,4272,5,4,3,1958,0,1,0,424998
2,3592,2,2,3,1938,0,2,0,266746
3,966,4,2,2,1902,2,3,1,244020
4,4926,1,4,2,1975,0,3,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,4,0,295620
1996,3046,5,2,1,2019,2,4,1,580929
1997,1062,5,1,2,1903,1,4,0,476925
1998,4062,3,1,2,1936,3,1,1,161119
1999,2989,5,1,3,1903,2,3,0,482525

#### selecting x and y for training purpose

In [134]:
df_y=df['Price']
df_y

0       149919
1       424998
2       266746
3       244020
4       636056
         ...
1995    295620
1996    580929
1997    476925
1998    161119
1999    482525
Name: Price, Length: 2000, dtype: int64

In [135]:
df_x=df.drop(columns=['Price'])
df_x

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage
0,1360,5,4,3,1970,0,1,0
1,4272,5,4,3,1958,0,1,0
2,3592,2,2,3,1938,0,2,0
3,966,4,2,2,1902,2,3,1
4,4926,1,4,2,1975,0,3,1
...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,4,0
1996,3046,5,2,1,2019,2,4,1
1997,1062,5,1,2,1903,1,4,0
1998,4062,3,1,2,1936,3,1,1
1999,2989,5,1,3,1903,2,3,0

In [144]:
# splitting the data 

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df_x,df_y)

In [147]:
x_train

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage
344,4570,3,3,2,1915,2,3,0
512,2605,5,4,2,2015,0,1,0
475,2356,3,2,2,1937,1,3,0
1193,1889,4,1,1,1984,0,2,1
1218,2530,4,3,3,1988,3,1,0
...,...,...,...,...,...,...,...,...
392,4607,1,4,3,2004,3,3,1
1844,4906,5,2,2,2003,3,2,1
1677,3871,3,4,2,2000,1,3,0
1345,4526,5,1,1,2009,3,3,1
348,3647,4,3,3,1925,2,4,0

In [148]:
y_train

344     279602
512     752858
475     891741
1193    311538
1218    902119
         ...
392     506089
1844    483595
1677    659019
1345    614562
348     558928
Name: Price, Length: 1500, dtype: int64

In [149]:
x_test

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage
1912,2138,2,3,3,2015,3,1,1
607,1858,1,2,2,1971,1,4,0
1835,4225,2,2,2,2013,0,2,0
1625,3791,4,2,1,2012,2,4,0
1120,1434,1,4,1,2003,3,2,1
...,...,...,...,...,...,...,...,...
336,1512,4,4,3,1922,3,3,0
83,2778,2,2,1,1947,0,3,1
1250,2662,5,2,1,1974,1,4,1
719,742,1,2,3,1979,3,1,1
1811,1132,4,2,2,1954,1,1,1

In [150]:
y_test

1912    405113
607     811299
1835    314531
1625    682592
1120    210353
         ...
336      80924
83       92192
1250    269854
719     830343
1811    881776
Name: Price, Length: 500, dtype: int64

## Model Training

In [197]:
from xgboost import XGBRegressor

model=XGBRegressor(n_estimators=75,learning_rate=0.3, max_depth=4)
model.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.3, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=4, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=75, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [198]:
model.predict([[2138,2,3,3,2015,3,1,1]])

array([487783.6], dtype=float32)

In [199]:
y_pred=model.predict(x_test)

##### saving the model as file for future use and deployment

In [203]:
import joblib

joblib.dump(model,'house_price_prediction.pkl')

['house_price_prediction.pkl']

In [204]:
my_model=joblib.load('house_price_prediction.pkl')

In [205]:
my_model.predict(x_test)

array([487783.6 , 620285.56, 314357.9 , 342560.94, 652730.75, 534712.5 ,
       347644.03, 679291.3 , 515573.4 , 342092.34, 763933.56, 428359.1 ,
       358419.66, 659043.6 , 609501.56, 467554.03, 620756.3 , 471630.62,
       476791.28, 476056.12, 517583.4 , 588219.8 , 670386.8 , 502977.34,
       551010.94, 496961.22, 442927.1 , 627899.  , 479420.47, 510916.88,
       188313.67, 437289.53, 528458.44, 623199.1 , 512493.2 , 546277.06,
       520673.88, 601371.8 , 533508.75, 413447.  , 502310.25, 445300.1 ,
       507856.94, 436423.78, 669715.25, 482419.38, 477666.9 , 530690.4 ,
       386226.03, 411226.3 , 552755.7 , 646360.1 , 585532.1 , 403706.03,
       536580.3 , 436690.  , 305041.44, 511460.78, 628430.8 , 557661.44,
       491929.16, 638444.75, 444325.62, 407283.84, 508462.4 , 507271.1 ,
       400728.6 , 600324.8 , 543341.7 , 439840.75, 443998.1 , 343480.2 ,
       400225.2 , 649060.5 , 593546.75, 541053.9 , 516890.28, 541735.9 ,
       461498.22, 508542.75, 542363.06, 353695.62, 405455.28, 497140.9 ,
       548728.1 , 528241.94, 611558.4 , 500331.2 , 420871.03, 789047.  ,
       584721.8 , 584927.1 , 574342.2 , 746402.06, 308890.8 , 686684.3 ,
       435726.84, 325743.97, 413524.94, 468709.8 , 430544.25, 717358.5 ,
       404196.1 , 523612.5 , 553808.8 , 530554.06, 488967.7 , 556373.3 ,
       439718.  , 544541.56, 535696.  , 659242.6 , 407876.88, 609200.9 ,
       542109.56, 537890.8 , 585206.7 , 576221.  , 552639.2 , 369241.25,
       548111.75, 504792.12, 599075.5 , 426201.12, 735609.8 , 626013.4 ,
       507096.94, 645827.94, 548512.06, 362913.34, 664286.75, 568097.8 ,
       553466.3 , 533434.44, 453459.78, 440745.66, 548629.56, 681662.94,
       462859.97, 711610.56, 262581.6 , 684884.9 , 704521.4 , 706860.8 ,
       445135.62, 659884.56, 537156.06, 367472.75, 352009.88, 548729.2 ,
       660179.5 , 474199.53, 703538.75, 425876.1 , 602386.9 , 513397.03,
       705876.94, 539680.4 , 495001.  , 524011.38, 668171.1 , 434679.53,
       653732.7 , 657349.3 , 479904.97, 630444.9 , 746871.2 , 521532.78,
       761546.2 , 433038.12, 355489.84, 616718.4 , 525922.7 , 474647.88,
       585087.4 , 676017.4 , 622686.94, 449047.3 , 269591.9 , 805202.3 ,
       545770.25, 595235.94, 480742.8 , 667957.5 , 616328.9 , 635045.9 ,
       571267.9 , 465403.28, 447345.78, 469062.62, 362992.8 , 500753.97,
       512178.3 , 535965.5 , 485329.8 , 453738.72, 589714.7 , 506438.22,
       472998.3 , 276199.5 , 525264.2 , 712292.9 , 631323.25, 697786.7 ,
       731023.06, 628851.6 , 607905.9 , 531127.8 , 562457.3 , 676128.2 ,
       583363.6 , 639459.44, 515757.44, 431709.8 , 549163.6 , 450299.12,
       533526.9 , 552335.2 , 438489.16, 547674.8 , 569408.7 , 686066.2 ,
       546969.94, 439898.97, 369714.7 , 459242.4 , 357780.88, 677841.44,
       632842.1 , 760969.06, 499297.7 , 505866.56, 488733.47, 551241.94,
       695965.  , 468978.1 , 621668.4 , 629439.56, 437715.  , 423120.3 ,
       518072.9 , 624465.06, 589659.4 , 322916.3 , 487886.88, 604055.9 ,
       581710.1 , 810257.9 , 514573.4 , 654669.1 , 554404.25, 509107.22,
       534139.8 , 424352.4 , 533196.5 , 742746.75, 549193.44, 412151.12,
       609689.5 , 506832.97, 652556.94, 577683.75, 643856.06, 634507.56,
       659942.4 , 473573.53, 643322.  , 594032.8 , 397143.06, 457411.16,
       615334.25, 779364.5 , 663325.56, 492545.16, 628716.7 , 415014.38,
       545190.75, 476562.  , 413202.38, 472313.2 , 496931.16, 474694.97,
       475531.22, 329555.75, 517543.2 , 484597.4 , 412032.9 , 397516.7 ,
       602397.3 , 573088.  , 444930.88, 494863.7 , 395338.88, 625159.75,
       528005.75, 552308.1 , 505927.84, 515020.12, 569259.8 , 625175.5 ,
       715240.75, 474459.9 , 821396.94, 722181.25, 418021.8 , 639255.7 ,
       595474.  , 799472.3 , 580364.94, 545311.7 , 569345.9 , 510260.72,
       548345.75, 687252.06, 559293.56, 567594.44, 792157.2 , 566233.6 ,
       539047.  , 524045.75, 517784.9 , 379557.47, 721652.44, 449234.5 ,
       428416.75, 379162.72, 525859.25, 507942.  , 486427.22, 295126.78,
       414082.8 , 612836.5 , 743551.25, 602568.4 , 688546.3 , 577400.5 ,
       587025.6 , 350586.4 , 612909.56, 547293.  , 423193.3 , 390867.97,
       531851.44, 542678.7 , 449092.25, 667498.4 , 719887.7 , 731861.2 ,
       415586.38, 575873.7 , 485103.62, 666129.56, 571480.56, 337919.75,
       606244.6 , 444873.9 , 464579.47, 394463.75, 498958.12, 643772.56,
       252790.16, 594248.  , 535817.06, 379956.8 , 566501.2 , 598474.6 ,
       573086.94, 445542.5 , 531867.8 , 372092.72, 521993.88, 400128.4 ,
       595847.06, 245611.42, 690264.7 , 669956.6 , 490684.8 , 584587.6 ,
       446460.6 , 717276.3 , 549957.2 , 600501.3 , 491655.6 , 581345.5 ,
       595538.8 , 338804.94, 546304.56, 622934.  , 635242.  , 537628.25,
       261631.94, 509414.44, 463790.6 , 841001.  , 589068.9 , 483349.75,
       330529.06, 545571.9 , 509910.16, 627727.6 , 655951.44, 557025.44,
       605436.75, 557181.25, 336498.66, 492638.47, 626142.3 , 850928.75,
       532799.3 , 477161.06, 475783.22, 506875.88, 641842.2 , 496311.03,
       576687.06, 584154.44, 585362.44, 643478.75, 639936.2 , 586250.8 ,
       561742.06, 534906.3 , 493985.94, 383108.56, 656597.5 , 495982.84,
       504653.12, 543395.1 , 607474.8 , 561714.75, 560455.94, 587429.2 ,
       555527.8 , 567259.7 , 527010.44, 407241.97, 363802.3 , 597046.3 ,
       670332.6 , 604700.1 , 668066.44, 467361.72, 587361.56, 551908.7 ,
       543597.2 , 593490.75, 668066.1 , 310993.75, 555156.25, 523970.62,
       420120.25, 457525.06, 624871.7 , 408320.47, 601781.5 , 506381.44,
       472159.94, 548361.4 , 480193.75, 560274.75, 459296.5 , 643705.44,
       488751.25, 289894.84, 384689.75, 608574.6 , 559145.8 , 594000.25,
       660402.1 , 758965.1 , 513443.25, 474749.75, 858813.25, 491352.84,
       509610.9 , 746806.94, 657901.4 , 418517.4 , 636800.9 , 384364.94,
       455055.7 , 583612.8 , 502964.6 , 553209.3 , 590366.3 , 604514.06,
       445141.25, 739266.9 , 501181.  , 583303.3 , 719164.  , 453041.16,
       604433.5 , 519229.78, 598534.44, 522597.4 , 537933.4 , 356378.5 ,
       574906.1 , 481653.22], dtype=float32)